:root {
    --lightpurple: #bde1ff;
    --poppins: 'Poppins', sans-serif;
    --black: #000000;
    --abril: 'Abril Fatface', cursive;
    --lato: 'Lato', sans-serif;
    --purple: #000000;
    --darkgray: #6E6C78;
    --white: #FFFFFF;
    --lightgray: #898796;
}

::selection {
    color: var(--lightpurple);
    background: CornflowerBlue;
    background-color: var(--black);
}

.nav-scrolled {
    background: white !important;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #ffffff; /* Bisa kamu ubah sesuai warna yang kamu mau */
    pointer-events: auto;
}

/*Navbar*/

.navbar {
    font-family: var(--poppins);
    background: transparent;
    padding: 0 20px;
    height: 80px;
}

.navbar .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar .container-fluid .navbar-item {
    font-size: 28.5px;
    letter-spacing: 2px;
    font-weight: 550;
    color: black;
    text-decoration: none;
}

.navbar .container-fluid .span {
    color: var(--purple)
}

.navbar .navbar-nav .nav-item a {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}

.d-flex .btn {
    font-size: 15px;
    background-color: black;
    border-radius: 50px;
    color: var(--white);
    text-transform: uppercase;
    padding: 13px 19px;
}

.d-flex .btn:hover {
    background-color: var(--purple);
    color: var(--white);
    transition: 0.5;
}

/*About*/

#about {
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center; /* Geser konten ke tengah */
    padding: 50px;
    gap: 50px; /* Jarak antara teks dan gambar */
}

.text-about {
    padding-top: 5rem;
}

.text-about h1 {
    font-family: var(--abril);
    font-size: 50px;
    text-align: left;
    padding-bottom: 50px;
}

.text-about h1:after {
    content: '';
    display: block;
    border-bottom: 7px solid var(--purple);
    width: 24%;
    padding-bottom: 2px;
    margin-bottom: -9px;
}

.text-about span {
    color: var(--purple);
}

.text-about p {
    font-family: var(--poppins);
    font-size: 23px;
    text-transform: none;
}

.about-img {
    padding-top: 4rem;
}

.cv {
    padding-top: 50px;
}

.cv a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 40px;
    background: 808080;
    border-radius: 10px;
    border: 2px solid #caecff;
    font-weight: 500;
    transition: .3s;
}

.cv a:hover:nth-child(1) {
    color: #808080;
    background: transparent;
}

.cv a:nth-child(2) {
    color: #808080;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}

.cv a:hover:nth-child(2) {
    color: white;
    background: #808080;
}