* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #ffffff; /* Bisa kamu ubah sesuai warna yang kamu mau */
    pointer-events: auto;
}
/* Main Color */

:root {
    --lightpurple: #bde1ff;
    --poppins: 'Poppins', sans-serif;
    --black: #000000;
    --abril: 'Abril Fatface', cursive;
    --lato: 'Lato', sans-serif;
    --purple: #000000;
    --darkgray: #6E6C78;
    --white: #FFFFFF;
    --lightgray: #898796;
}

::selection {
    color: var(--lightpurple);
    background: CornflowerBlue;
    background-color: var(--black);
}

.nav-scrolled {
    background: white !important;
}


/*Navbar*/

.navbar {
    font-family: var(--poppins);
    background: transparent;
    padding: 0 20px;
    height: 80px;
}

.navbar .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar .container-fluid .navbar-item {
    font-size: 28.5px;
    letter-spacing: 2px;
    font-weight: 550;
    color: black;
    text-decoration: none;
}

.navbar .container-fluid .span {
    color: var(--purple)
}

.navbar .navbar-nav .nav-item a {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}

.d-flex .btn {
    font-size: 0.9rem;
    background-color: black;
    border-radius: 50px;
    color: var(--white);
    text-transform: uppercase;
    padding: 10px 16px;
    transition: 0.3s;
}

.d-flex .btn:hover {
    background-color: var(--purple);
    color: var(--white);
}

/*Contact*/

#contact {
    padding: 6rem 0;
    background-image: url(img/6.png);
    background-size: cover;
}

.img-contact {
    margin-top: -1.5rem;
}

.contact-title h1 {
    text-transform: capitalize;
    font-family: var(--abril);
    font-size: 50px;
    text-align: center;
    padding-bottom: 2rem;
}

.contact-title span {
    color: var(--purple);
}

#contact form .form-label {
    font-family: var(--poppins);
    font-size: 22px;
}

#contact form input {
    border-radius: 0%;
    color: var(--purple);
}

#contact textarea {
    border-radius: 0%;
    color: var(--purple);
}