* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #ffffff; /* Bisa kamu ubah sesuai warna yang kamu mau */
    pointer-events: auto;
}
/* Main Color */

:root {
    --lightpurple: #bde1ff;
    --poppins: 'Poppins', sans-serif;
    --black: #000000;
    --abril: 'Abril Fatface', cursive;
    --lato: 'Lato', sans-serif;
    --purple: #000000;
    --darkgray: #6E6C78;
    --white: #FFFFFF;
    --lightgray: #898796;
}

::selection {
    color: var(--lightpurple);
    background: CornflowerBlue;
    background-color: var(--black);
}

.nav-scrolled {
    background: white !important;
}


/*Navbar*/

.navbar {
    font-family: var(--poppins);
    background: transparent;
    padding: 0 20px;
    height: 80px;
}

.navbar .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar .container-fluid .navbar-item {
    font-size: 28.5px;
    letter-spacing: 2px;
    font-weight: 550;
    color: black;
    text-decoration: none;
}

.navbar .container-fluid .span {
    color: var(--purple)
}

.navbar .navbar-nav .nav-item a {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}

.d-flex .btn {
    font-size: 15px;
    background-color: black;
    border-radius: 50px;
    color: var(--white);
    text-transform: uppercase;
    padding: 13px 19px;
}

.d-flex .btn:hover {
    background-color: var(--purple);
    color: var(--white);
    transition: 0.5;
}

#skills {
    padding: 2rem 0;
}

.title-skills h1 {
    font-family: var(--abril);
    font-size: 50px;
    padding-bottom: 4rem;
    padding-left: 4rem;
}

.title-skills h1:after {
    content: '';
    display: block;
    border-bottom: 7px solid var(--purple);
    width: 8%;
    padding-bottom: 9px;
    margin-bottom: -9px;
}

.title-skills span {
    color: var(--purple);
}

#skills .container-fluid .gambar-skills .col-lg-3 {
    padding-bottom: 3.5rem;
    padding-left: 2.5rem;
}

#skills .container-fluid .gambar-skills .col-lg-3 img:hover {
    filter: invert(15%);
}
